<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center mb-5 mb-md-0">
				<img class="img-fluid" src="https://www.mykingdom.com.vn/cdn/shop/files/do-choi-lap-rap-dau-truong-ninjago-lego-nijago-71818_1.jpg?v=1715762548&width=990" alt="">
			</div>
			<div class="col-md-6 align-self-center text-center text-md-left">
				<div class="block">
					<h1 class="font-weight-bold mb-4 font-size-60">Online exclusive, limited quantity</h1>
					<p class="mb-4">Discover a new toy with creative design, bright colors and interesting interactive features. Made from safe materials, this toy promises to bring hours of fun and skill development for young children.</p>
					
					<a href="/allproducts" class="btn btn-main">Explore our products</a>
					
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section" id="features">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>Our Core Features</h2>
        </div>
      </div>
      <div class="col-md-4">
        
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 tf-ion-ios-alarm-outline"></i>
          <h4 class="font-weight-bold mb-2">Develop motor skills</h4>
          <p>Many toys are designed to help children improve their fine and gross motor skills, from grasping to running and jumping.</p>
        </div>
        
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 tf-ion-ios-bell-outline"></i>
          <h4 class="font-weight-bold mb-2">Encourage imagination:</h4>
          <p>Toys like craft sets or puzzles help children develop creativity and imagination.</p>
        </div>
        
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 tf-ion-ios-cart-outline"></i>
          <h4 class="font-weight-bold mb-2">Enhance social skills</h4>
          <p>Group toys or cooperative games help children learn to work together and develop communication skills.</p>
        </div>
        
      </div>
      <div class="col-md-4 text-center align-self-center mb-4 mb-md-0">
        <img class="img-fluid" src="https://www.mykingdom.com.vn/cdn/shop/files/21a8ae35e2b706e11393b3454ec209f6.jpg?v=1718267176&width=990" alt="">
      </div>
      <div class="col-md-4">
          
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 tf-ion-ios-alarm-outline"></i>
          <h4 class="font-weight-bold mb-2">Supports Cognitive Development:</h4>
          <p>Educational toys, such as structures or word puzzles, help children develop problem-solving and logical thinking skills.</p>
        </div>
        
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 tf-ion-ios-bell-outline"></i>
          <h4 class="font-weight-bold mb-2">Safe and Durable</h4>
          <p>Made from non-toxic materials, ensuring child safety and sturdy design for long-term use.</p>
        </div>
        
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 tf-ion-ios-cart-outline"></i>
          <h4 class="font-weight-bold mb-2">Encourages Learning</h4>
          <p>Educational toys help children learn basic concepts like letters, numbers, colors and shapes in a fun and easy-to-understand way.</p>
        </div>
        
      </div>
    </div>
  </div>
</section>
<section class="bg-orange section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <img class="img-fluid" src="https://www.mykingdom.com.vn/cdn/shop/files/Danh_muc_web_-_1280x360_b643c5a0-ad48-44c8-958d-97f57fa10921.jpg?v=1723630861" alt="">
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          <h2 class="subheading text-white font-weight-bold mb-10">Designed by experts, this toy offers outstanding benefits for children's creativity and development.</h2>
          <p class="text-white">Designed by leading toy experts, this product not only brings fun but also helps stimulate children's creativity. With unique features and safe materials, this toy encourages children to explore, imagine and develop skills naturally. This is an ideal choice for children to have fun and learn at the same time.</p>
        </div>
      </div>
    </div>
  </div>
</section>
</section>

<section class="feature-list section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>Why Choose My KingDom</h2>
        </div>
      </div>
    </div>
    
    <div class="row mb-40">
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <img class="img-fluid" src="https://www.mykingdom.com.vn/cdn/shop/files/42165copy0.jpg?v=1709050891&width=990" alt="">
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading">My KingDom is the best toy shop</h4>
          <p>My KingDom" is the perfect choice for parents and children because we are committed to providing toys that are not only safe and durable, but also optimally support children's development. Each toy is meticulously designed by a team of experts, helping to stimulate creativity, improve motor skills and enhance thinking ability. We use high-quality materials and strict quality control processes to ensure that every product meets the highest standards. Choosing "My KingDom" means you are investing in the comprehensive development and long-term joy of your beloved child</p>
          
        </div>
      </div>
    </div>
    
    
    
  </div>
